#longterm
  .row#longtermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'LONGTERM_PAGE_HEADER_TITLE' | translate}}
            small(translate='LONGTERM_PAGE_HEADER_SUBTITLE')

