#main
  div(data-ng-controller='CarouselCtrl as carousel',
  data-ride="carousel").carousel.slide#mainCarousel
    //- Indicators
    ol.carousel-indicators
      li(data-slide-to="0", data-target="#mainCarousel").active
      li(data-slide-to="1", data-target="#mainCarousel")
      li(data-slide-to="2", data-target="#mainCarousel")

    //- New carousel
    .carousel-inner
      div(data-ng-repeat='slide in carousel.slides', data-ng-class="{'active': slide.active}").item
        img(data-ng-src='{{slide.image}}').carousel-img
        div(data-ng-show="slide.title != '' || slide.text != ''").carousel-caption
          h4 {{slide.title}}
          p {{slide.text}}

    //- Controls
    a(data-slide="prev", href="#mainCarousel", role="button").left.carousel-control
      //span.icon-prev
      span(aria-hidden="true").glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a(data-slide="next", href="#mainCarousel", role="button").right.carousel-control
      //span.icon-next
      span(aria-hidden="true").glyphicon.glyphicon-chevron-right
      span.sr-only Next

  div(data-ng-controller="HomeGeneralCtrl as home",
  data-ng-show="home.home.home_title != '' && (home.home.home_body_lead != '' || home.home.home_body_p_1 != '')").row#mainCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{home.home.home_title}}

        .page-body
          p.lead {{home.home.home_body_lead}}
          p {{home.home.home_body_p_1}}
          p {{home.home.home_body_p_2}}
          p {{home.home.home_body_p_3}}
