.panel.panel-info
  div(data-ng-show='$ctrl.badge',
  data-ng-class="$ctrl.type").badge.badge-object
    span.glyphicon.glyphicon-tag {{$ctrl.badgetext}}
  .panel-heading
    h3 {{'GENERAL_ELEM_OBJ' | translate}}
     | {{$ctrl.objNumber}}

  .panel.panel-body.panel-main-exclusive
    .col-sm-12
      a(href='{{$ctrl.img.href}}',
      data-lightbox='{{$ctrl.img.dataLightbox}}',
      data-title='{{$ctrl.img.dataTitle}}')
        img(data-ng-src='{{$ctrl.img.src}}').thumbnail.img-main

    .col-sm-12
      form.form-horizontal
          div(data-ng-repeat='elem in $ctrl.content').form-group.form-group-sm.main-panel
            label.col-sm-4.control-label {{elem.label}}
            .col-sm-8
              p.form-control-static.form-control-static-text {{elem.text}}
      hr
      button(translate='GENERAL_ELEM_MORE_DETAILS').col-xs-12.btn.btn-success.btn-sm
