//
   Created by DSch on 09.02.2017.

.container#content
  div(data-ui-view="main")
  div(data-ui-view="exclusive")
  div(data-ui-view="shortterm")
  div(data-ui-view="longterm")
  div(data-ui-view="sale")
