.panel.panel-info
  div(ng-show='$ctrl.hit').badge.badge-object
    span.glyphicon.glyphicon-tag Хит продаж
  .panel-heading
    h3 Объект № 30595

  .panel.panel-body.panel-main-exclusive
    .col-sm-12
      a(href='{{$ctrl.img.href}}',
      data-lightbox='{{$ctrl.img.dataLightbox}}',
      data-title='{{$ctrl.img.dataTitle}}')
        img(data-ng-src='{{$ctrl.img.src}}').thumbnail.img-main

    .col-sm-12
      form.form-horizontal
          div(data-ng-repeat='elem in $ctrl.content').form-group.form-group-sm.main-panel
            label.col-sm-4.control-label {{elem.label}}
            .col-sm-8
              p.form-control-static.form-control-static-text {{elem.text}}
      hr
      button.col-xs-12.btn.btn-success.btn-sm Подробнее...
