div(tabindex="-1",
role="dialog",
data-ng-controller='ShortPanelCtrl as spc').modal.calendar-modal
  .modal-dialog
    .modal-content
      .modal-header
        button(data-ng-click="$hide()").close &times;
        h2(translate='SHORTTERM_PAGE_CALENDAR_MODAL_HEADER').modal-title
      .modal-body
        div.calendar-content-block
      .modal-footer
        button(type='button',
        data-ng-click='$hide()',
        translate='SHORTTERM_PAGE_MODAL_FOOTER_CLOSE_BUTTON').btn.btn-default