//
  Layout
  =============

  Updated: January 2017

doctype html
html
  head
    title Orange Project

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    base(href="/")

    //-
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus

    // STYLES
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap-theme.css")
    link(rel="stylesheet", href="/vendor/bootstrap-additions/dist/bootstrap-additions.css")
    link(rel="stylesheet", href="/styles/libs/bootstrap-glyphicons.css")
    link(rel="stylesheet", href="/styles/libs/bootstrap.css")
    link(rel="stylesheet", href="/styles/libs/lightbox.css")
    link(rel="stylesheet", href="/styles/admin.css")
    link(rel="stylesheet", href="/styles/exclusive.css")
    link(rel="stylesheet", href="/styles/general.css")
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/layout.css")
    link(rel="stylesheet", href="/styles/long.css")
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/modalPriceCalendarBooking.css")
    link(rel="stylesheet", href="/styles/short.css")
    link(rel="stylesheet", href="/vendor/ladda/dist/ladda-themeless.min.css")
    link(rel="stylesheet", href="/vendor/AngularJS-Toaster/toaster.css")
    // STYLES END

    //-
      Modernizr files to be placed here

    // MODERNIZR
    
    // MODERNIZR END

  body

    block body


    //-
      Client-side Templates
      ========================

      HTML templates are important prerequisites of modern, rich client applications.
      To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
      that you load these templates client-side.

      By default, your Gruntfile is configured to automatically load and precompile
      client-side JST templates in your `assets/templates` folder, then
      include them here automatically (between TEMPLATES and TEMPLATES END).

      To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Import templates from other directories
          + Use a different template engine (handlebars, jade, dust, etc.)
          + Internationalize your client-side templates using a server-side
            stringfile before they're served.

    // TEMPLATES
    
    // TEMPLATES END

    //-
      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    // SCRIPTS
    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-resource/angular-resource.js")
    script(src="/vendor/angular-ui-router/release/angular-ui-router.js")
    script(src="/vendor/angular-animate/angular-animate.js")
    script(src="/vendor/ng-lodash/build/ng-lodash.js")
    script(src="/vendor/angular-translate/angular-translate.js")
    script(src="/vendor/angular-auto-validate/dist/jcs-auto-validate.js")
    script(src="/vendor/ngInfiniteScroll/build/ng-infinite-scroll.js")
    script(src="/vendor/angular-spinner/dist/angular-spinner.js")
    script(src="/vendor/ladda/js/spin.js")
    script(src="/vendor/ladda/js/ladda.js")
    script(src="/vendor/angular-ladda/dist/angular-ladda.js")
    script(src="/vendor/angular-strap/dist/angular-strap.js")
    script(src="/vendor/angular-strap/dist/angular-strap.tpl.js")
    script(src="/vendor/angular-sanitize/angular-sanitize.js")
    script(src="/vendor/AngularJS-Toaster/toaster.js")
    script(src="/vendor/angular-dynamic-locale/dist/tmhDynamicLocale.js")
    script(src="/vendor/angularUtils-pagination/dirPagination.js")
    script(src="/vendor/angular-file-upload/dist/angular-file-upload.js")
    script(src="/vendor/moment/moment.js")
    script(src="/vendor/moment-timezone/builds/moment-timezone-with-data-2012-2022.js")
    script(src="/vendor/angular-moment/angular-moment.js")
    script(src="/vendor/async/dist/async.js")
    script(src="/js/dependencies/Other/lightbox.js")
    script(src="/js/dependencies/Other/main.js")
    script(src="/js/app/modules/app.client.config.js")
    script(src="/js/app/modules/app.client.module.js")
    script(src="/js/app/modules/app.client.routes.js")
    script(src="/js/app/modules/app.core.js")
    script(src="/js/app/modules/app.translate.module.js")
    script(src="/js/app/app.translate.config.js")
    script(src="/js/app/app.translate.controller.js")
    script(src="/js/app/components/admin/admin.long.filter.js")
    script(src="/js/app/components/admin/admin.sale.filter.js")
    script(src="/js/app/components/admin/admin.short.filter.js")
    script(src="/js/app/components/admin/long.admin.create.js")
    script(src="/js/app/components/admin/sale.admin.create.js")
    script(src="/js/app/components/admin/short.admin.create.js")
    script(src="/js/app/components/exclusive/exclusive.filters.js")
    script(src="/js/app/components/exclusive/panelExclusiveLong.js")
    script(src="/js/app/components/exclusive/panelExclusiveSale.js")
    script(src="/js/app/components/exclusive/panelExclusiveShort.js")
    script(src="/js/app/components/general.nothingFound.js")
    script(src="/js/app/components/home/home.exclusive.js")
    script(src="/js/app/components/home/home.long.js")
    script(src="/js/app/components/home/home.sale.js")
    script(src="/js/app/components/home/home.short.js")
    script(src="/js/app/components/longTerm/long.filters.js")
    script(src="/js/app/components/longTerm/panelLong.js")
    script(src="/js/app/components/sale/panelSale.js")
    script(src="/js/app/components/sale/sale.filters.js")
    script(src="/js/app/components/shortTerm/panelShort.js")
    script(src="/js/app/components/shortTerm/short.filters.js")
    script(src="/js/app/controllers/admin/admin.long.filters.ctrl.js")
    script(src="/js/app/controllers/admin/admin.sale.filters.ctrl.js")
    script(src="/js/app/controllers/admin/admin.short.filters.ctrl.js")
    script(src="/js/app/controllers/admin/content.home.admin.ctrl.js")
    script(src="/js/app/controllers/admin/content.home.admin.tbl.ctrl.js")
    script(src="/js/app/controllers/admin/content.qa.admin.ctrl.js")
    script(src="/js/app/controllers/admin/content.qa.admin.tbl.ctrl.js")
    script(src="/js/app/controllers/admin/content.service.admin.ctrl.js")
    script(src="/js/app/controllers/admin/content.sevice.admin.tbl.ctrl.js")
    script(src="/js/app/controllers/admin/img.upload.controller.js")
    script(src="/js/app/controllers/admin/login.controller.js")
    script(src="/js/app/controllers/admin/long.create.admin.ctrl.js")
    script(src="/js/app/controllers/admin/long.edit.admin.ctrl.js")
    script(src="/js/app/controllers/admin/long.panel.admin.tbl.ctrl.js")
    script(src="/js/app/controllers/admin/sale.create.admin.ctrl.js")
    script(src="/js/app/controllers/admin/sale.edit.admin.ctrl.js")
    script(src="/js/app/controllers/admin/sale.panel.admin.tbl.ctrl.js")
    script(src="/js/app/controllers/admin/short.create.admin.ctrl.js")
    script(src="/js/app/controllers/admin/short.edit.admin.ctrl.js")
    script(src="/js/app/controllers/admin/short.panel.admin.tbl.ctrl.js")
    script(src="/js/app/controllers/admin/signup.controller.js")
    script(src="/js/app/controllers/exclusive/exclusive.ctrl.js")
    script(src="/js/app/controllers/exclusive/exclusive.filters.ctrl.js")
    script(src="/js/app/controllers/exclusive/exclusive.long.panel.ctrl.js")
    script(src="/js/app/controllers/exclusive/exclusive.sale.panel.ctrl.js")
    script(src="/js/app/controllers/exclusive/exclusive.short.panel.ctrl.js")
    script(src="/js/app/controllers/footer/footer.ctrl.js")
    script(src="/js/app/controllers/header/header.admin.ctrl.js")
    script(src="/js/app/controllers/header/header.ctrl.js")
    script(src="/js/app/controllers/home/carousel.ctrl.js")
    script(src="/js/app/controllers/home/home.exclusive.ctrl.js")
    script(src="/js/app/controllers/home/home.general.ctrl.js")
    script(src="/js/app/controllers/home/home.long.ctrl.js")
    script(src="/js/app/controllers/home/home.sale.ctrl.js")
    script(src="/js/app/controllers/home/home.short.ctrl.js")
    script(src="/js/app/controllers/longTerm/long.ctrl.js")
    script(src="/js/app/controllers/longTerm/long.filters.ctrl.js")
    script(src="/js/app/controllers/longTerm/long.panel.ctrl.js")
    script(src="/js/app/controllers/qa/qa.general.ctrl.js")
    script(src="/js/app/controllers/sale/sale.ctrl.js")
    script(src="/js/app/controllers/sale/sale.filters.ctrl.js")
    script(src="/js/app/controllers/sale/sale.panel.ctrl.js")
    script(src="/js/app/controllers/service/service.general.ctrl.js")
    script(src="/js/app/controllers/shortTerm/short.ctrl.js")
    script(src="/js/app/controllers/shortTerm/short.filters.ctrl.js")
    script(src="/js/app/controllers/shortTerm/short.panel.ctrl.js")
    script(src="/js/app/directives/admin/img.upload.js")
    script(src="/js/app/directives/admin/long.admin.edit.directive.js")
    script(src="/js/app/directives/admin/object.form.validation.js")
    script(src="/js/app/directives/admin/sale.admin.edit.directive.js")
    script(src="/js/app/directives/admin/short.admin.edit.directive.js")
    script(src="/js/app/services/admin/flash.service.js")
    script(src="/js/app/services/admin/user.service.js")
    script(src="/js/app/services/city.tbl.service.js")
    script(src="/js/app/services/config.service.js")
    script(src="/js/app/services/content.service.js")
    script(src="/js/app/services/deal.tbl.service.js")
    script(src="/js/app/services/edit.service.js")
    script(src="/js/app/services/excl_key.tbl.service.js")
    script(src="/js/app/services/exclusive.service.js")
    script(src="/js/app/services/exclusive.tbl.service.js")
    script(src="/js/app/services/long_key.tbl.service.js")
    script(src="/js/app/services/long.service.js")
    script(src="/js/app/services/long.tbl.service.js")
    script(src="/js/app/services/obj.tbl.service.js")
    script(src="/js/app/services/partner.tbl.service.js")
    script(src="/js/app/services/room.tbl.service.js")
    script(src="/js/app/services/s_req.service.js")
    script(src="/js/app/services/sale_key.tbl.service.js")
    script(src="/js/app/services/sale.service.js")
    script(src="/js/app/services/sale.tbl.service.js")
    script(src="/js/app/services/short_key.tbl.service.js")
    script(src="/js/app/services/short.service.js")
    script(src="/js/app/services/short.tbl.service.js")
    script(src="/js/app/services/tag.tbl.service.js")
    script(src="/js/other/availability-calendar.js")
    script(src="/js/other/main.js")
    script(src="/js/other/z_angular_bootstrap.js")
    // SCRIPTS END

