//
   Long term
   =============

   Author:  iStudioDTD.com
   Updated: March 2017
   Notes:   Hand coded for Orange Holiday Villas

#longterm
  .row#longtermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Долгосрочная аренда
            small Несколько слов...
