//
  Page
  =============

  Author:  iStudioDTD.com
  Updated: January 2017
  Notes:	 Hand coded for Orange Holiday Villas

div(data-ng-controller='TestCtrl as tc').row
  .col-sm-12
    button(data-ng-click='tc.showTest()').btn.btn-info Log config...
    p Selected language: {{ tc.test.lang }}
    p {{ tc.showTestPhrase() }}
    ul
      li(data-ng-repeat='elem in tc.test.cityList[tc.test.lang]') {{elem.key}} => {{elem.val}}

    .form-group.clearfix
      label.col-sm-4.control-label.text-right Город
      .col-sm-8
        select.form-control#city
          option(data-ng-repeat='elem in tc.test.cityList[tc.test.lang]',
            value="elem.key") {{elem.val}}

    button(data-ng-click='tc.showCities()').btn.btn-info Show cities...

#main
  div(data-ng-controller='CarouselCtrl as carousel', data-ride="carousel").carousel.slide#mainCarousel
    //- Indicators
    ol.carousel-indicators
      li(data-slide-to="0", data-target="#mainCarousel").active
      li(data-slide-to="1", data-target="#mainCarousel")
      li(data-slide-to="2", data-target="#mainCarousel")

    //- New carousel
    .carousel-inner
      div(data-ng-repeat='slide in carousel.slides', data-ng-class="{'active': slide.active}").item
        img(data-ng-src='{{slide.image}}').carousel-img
        .carousel-caption
          h4 {{slide.title}}
          p {{slide.text}}

    //- Controls
    a(data-slide="prev", href="#mainCarousel", role="button").left.carousel-control
      //span.icon-prev
      span(aria-hidden="true").glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a(data-slide="next", href="#mainCarousel", role="button").right.carousel-control
      //span.icon-next
      span(aria-hidden="true").glyphicon.glyphicon-chevron-right
      span.sr-only Next

  .row#mainCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Недвижимость на Кипре
            small Несколько слов о том, что мы будем рады вам предложить...

        .page-body
          p.lead
            | Лудус утрояуе оцурререт ет мел, видит цонтентионес ин иус! Яуот опортере те дуо,
            | фабеллас цонсулату еум еи. Ех солеат пхилосопхиа при?
          p
            | Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
            | не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
            | Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо. Меи ерипуит фацилис
            | перицулис не, виси адиписци ад меи. Вел прима интегре те, вениам адверсариум вим цу.
            | Долорум мнесарчум диссентиунт иус не, но агам примис видерер нец. Еа поссе миним
            | дицерет сеа, усу менандри цонсулату еи.
          p
            | Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
            | не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
            | Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо. Меи ерипуит фацилис
            | перицулис не, виси адиписци ад меи. Вел прима интегре те, вениам адверсариум вим цу.
            | Долорум мнесарчум диссентиунт иус не, но агам примис видерер нец. Еа поссе миним дицерет
            | сеа, усу менандри цонсулату еи.
          p
            | Лудус утрояуе оцурререт ет мел, видит цонтентионес ин иус! Яуот опортере те дуо,
            | фабеллас цонсулату еум еи. Ех солеат пхилосопхиа при? Сит ех оффициис перципитур,
            | ат яуо реяуе саперет фастидии, латине тациматес индоцтум хис еи! Про либрис епицуреи
            | цонституто те. Ет хас ехпетенда суавитате перицулис, вери орнатус при ин, ат вереар
            | апериам яуо. Нец аццусамус волуптатибус цу!
          p
            | Цум ат виде нецесситатибус. Ид ест убияуе регионе бонорум! Еи ассум яуандо цонтентионес
            | еум, цу тамяуам дефинитионес хис, но цибо ноструд.

#exclusive
  .row#exclusiveCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Эксклюзивные объекты
            small Несколько слов...
        .page-body#block-exclusive
          .row
            .col-sm-12
              h1.text-center Эксклюзивные объекты недвижимости
              h2.text-center Аренда вилл и аппартаментов на Кипре
          .row
            .col-sm-12
              div(data-ng-controller='MainExclusiveCtrl as mainExclCtrl').row
                div(data-ng-repeat='group in mainExclCtrl.panelGroups').row
                  .col-sm-4(data-ng-repeat='panel in group')
                    small-panel(hit='panel.hit',
                    img='panel.img',
                    content='panel.content')
              hr
              button.col-xs-12.btn.btn-info.btn-lg.btn-margin.center-block
                | Подробная информация об этих и других эксклюзивных объектах

#shortterm
  .row#shorttermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Посуточная аренда
            small Несколько слов...

#longterm
  .row#longtermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Долгосрочная аренда
            small Несколько слов...

#sale
  .row#saleCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Продажа
            small Несколько слов...

#qa
  .row#qaCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Вопросы и ответы
            small Несколько слов...

#services
  .row#servicesCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Дополнительные услуги
            small Несколько слов...

#contacts
  .row#contactsCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Наши контакты
            small Несколько слов...


