//
   Q&A
   =============

   Author:  iStudioDTD.com
   Updated: March 2017
   Notes:   Hand coded for Orange Holiday Villas

#qa
  .row#qaCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'QA_PAGE_HEADER_TITLE' | translate}}
            small(translate='QA_PAGE_HEADER_SUBTITLE')
