//
   Sales
   =============

   Author:  iStudioDTD.com
   Updated: March 2017
   Notes:   Hand coded for Orange Holiday Villas

#sale
  .row#saleCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Продажа
            small Несколько слов...
