//
   Sales
   =============

   Author:  iStudioDTD.com
   Updated: March 2017
   Notes:   Hand coded for Orange Holiday Villas

#sale
  .row#saleCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'SALES_PAGE_HEADER_TITLE' | translate}}
            small(translate='SALES_PAGE_HEADER_SUBTITLE')
