//
   Services
   =============

   Author:  iStudioDTD.com
   Updated: March 2017
   Notes:   Hand coded for Orange Holiday Villas

#services
  .row#servicesCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'SERVICES_PAGE_HEADER_TITLE' | translate}}
            small(translate='SERVICES_PAGE_HEADER_SUBTITLE')
