//
   Services
   =============

   Author:  iStudioDTD.com
   Updated: March 2017
   Notes:   Hand coded for Orange Holiday Villas

#services
  .row#servicesCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{title}}

        div(data-ng-controller="ServiceGeneralCtrl as service",
        data-ng-show="service.service.title != ''").page-body
          div(data-ng-repeat="elem in service.service.body").well
            div(ng-bind-html="elem.body").page-body.padding-top-20


