//
   Short term
   =============

   Author:  iStudioDTD.com
   Updated: March 2017
   Notes:   Hand coded for Orange Holiday Villas

#shortterm
  .row#shorttermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'SHORTTERM_PAGE_HEADER_TITLE' | translate}}
            small(translate='SHORTTERM_PAGE_HEADER_SUBTITLE')
