.flash-message {
  margin-top: 20px;
}

.sort-icon {
  font-size: 9px;
  margin-left: 5px;
}

.sort-th {
  cursor: pointer;
}

#block-long-filter-admin {
  margin-top: 30px;
  margin-bottom: 20px;
}

.tab-pane.am-fade {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  opacity: 1;
}

.tab-pane.am-fade.active-remove {
  display: none !important;
}

.tab-pane.am-fade.active-add {
  animation-name: fadeIn;
}
