//
  Header
  =============

  Author:  iStudioDTD.com
  Updated: June 2017
  Notes:	 Hand coded for Orange Holiday Villas

.row.header-block

  a.header-block-logo.pull-left.navbar-collapse.collapse(href="/")
    img(src="../../images/logo-orange.png", alt="Orange Holiday Villas logo").logo-img

nav(bs-affix,
data-offset-top="200").navbar.navbar-default

    div(data-ng-controller='HeaderAdminCtrl as hac').container

      button(data-target=".navbar-responsive-collapse", data-toggle="collapse", type="button").navbar-toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a(href="/").navbar-brand
        img(src="../../images/logo-orange.png", alt="Orange Holiday Villas logo", height="50px")

      .navbar-collapse.collapse.navbar-responsive-collapse

        ul.nav.navbar-nav
          li(data-ng-repeat='elem in hac.navMeny')
            a(data-ui-sref="{{elem.href}}",
              data-ui-sref-active="menu-active",
              translate='{{elem.text}}')

        div(data-ng-if="flash").flash-message
          div(class="{{'alert alert-' + flash.type}}",
          data-ng-bind="flash.message")

  toaster-container(data-toaster-options="{'toaster-id': '12345'}")

