div(data-ng-controller="LoginController as lc").form-container

  form(novalidate='novalidate',
  data-ng-submit='lc.init()').form-horisontal
    h1 Login page
    .form-group.clearfix
      label(for="username") Username
      input(type="text", name="username", data-ng-model="lc.username")#username

    .form-group.clearfix
      label(for="password") Password
      input(type="text", name="password", data-ng-model="lc.password")#password

    .form-group.clearfix
      button(type='submit',
      translate='BTN_SUBMIT').btn.btn-success.btn-lg.btn-margin
      button(data-ng-click='lc.init()',
      translate='BTN_CLR').btn.btn-warning.btn-lg.btn-margin

