h1 Admin

#longterm
  .row#longtermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'LONGTERM_PAGE_HEADER_TITLE' | translate}}
            small(translate='LONGTERM_PAGE_HEADER_SUBTITLE')

        .page-body#block-long

          .row#block-long-filter
            .col-sm-6.col-sm-offset-3#longFilterWrapper
              .panel.panel-info#longFilter
                .panel-heading
                  h3(translate='PANEL_HEADER')
                div(data-ng-controller='LongFiltersCtrl as e').panel-body
                  long-filter(obj-list='e.objList',
                  city-list='e.cityList',
                  room-list='e.roomList')

          div(data-ng-controller='LongCtrl', data-ng-init="updateDataAll()")

            div(data-ng-if='long.showFoundNothing')
              nothing-found

            div(data-ng-hide='long.showFoundNothing').row
              div(data-ng-controller='PanelAdminTblCtrl as p').col-sm-10
                h2 List of Objects
                button(data-ng-click='p.clearSort();').btn.btn-info Clear sort
                table.table.table-striped.table-hover
                  thead
                    tr
                      th(data-ng-click='p.sort("objNumber");') Object Number
                        span(data-ng-show="p.sortKey=='objNumber'",
                        data-ng-class="{'glyphicon-chevron-up':!p.reverse,'glyphicon-chevron-down':p.reverse}").glyphicon.sort-icon
                      th(data-ng-click='p.sort("contentObj.obj.text");') Object Type
                        span(data-ng-show="p.sortKey=='contentObj.obj.text'",
                        data-ng-class="{'glyphicon-chevron-up':!p.reverse,'glyphicon-chevron-down':p.reverse}").glyphicon.sort-icon
                      th City
                      th Address
                  tbody
                    tr(data-ng-repeat='panel in long.panels|orderBy:p.sortKey:p.reverse')
                      td {{panel.objNumber}}
                      td {{panel.contentObj.obj.text}}
                      td {{panel.contentObj.city.text}}
                      td {{panel.contentObj.address.text}}


