.col-sm-12
  .panel.panel-info
    .panel-heading
      h3 List of Long Term Objects

      ul
        li Object #: {{patc.panel.objNumber}}
        li {{patc.panel.contentObj.obj.label}}: {{patc.panel.contentObj.obj.text}}
        li {{patc.panel.contentObj.city.label}}: {{patc.panel.contentObj.city.text}}
        li {{patc.panel.contentObj.address.label}}: {{patc.panel.contentObj.address.text}}




